/* RouteBuilder.css */

/* <div className="route-builder-contatiner"> */

.route-builder-contatiner {
    width: 100%;
    height: 100%;
    /* height: calc(100vh - (8vh + 20px)); */
    /* Центрируем контейнер */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f0e9;

    /* Полное отключение прокрутки */
    overflow: hidden;
    left: 0;

    margin: 0;
    padding: 0;
}

.route-builder {
    width: 90%;
    height: 80%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* position: fixed; */
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding: 2rem;
    background-color: white;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}

button {
    /* padding: 0.75rem; */
    padding: 0.5rem 1rem; /* Уменьшаем вертикальный и горизонтальный padding */
    background-color: orange;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 0.9rem; /* Уменьшаем размер шрифта */
    border-radius: 4px; /* Добавляем скругление для эстетики */
    margin-top: 0.5rem; /* Отступ сверху для разделения кнопок */
}

.suggestions-list {
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin-top: 0;
    max-height: 150px;
    overflow-y: auto;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #eee;
}

.input-with-remove {
    display: flex;
    align-items: center;
    gap: 8px;
}

.remove-button {
    background: none;
    border: none;
    color: #888;
    font-size: 18px;
    cursor: pointer;
}

.remove-button:hover {
    color: red;
}
